.accordion-body img[src='#'] {
  display: none;
}

.accordion-body img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.accordion {
  width: 100%;
}

.accordion-body {
  padding-top: 0px;
}

.accordion-button {
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .accordion {
    width: 60%;
    margin: auto;
  }
  .accordion-body img {
    width: 300px;
    height: 300px;
  }
}
