html,
body {
  height: 100%;
}

body {
  align-items: center;
  padding-bottom: 40px;
  background-color:black !important;
  color: white;
}

.btn-setting .btn-primary {
  border: none;
  background-color: #2d474f;
}

.btn-setting .btn-primary:hover {
  background-color: #63b1b1;
}

.prof-name {
  margin-top: 20px;
 
}


 .prof-pic {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}



.btn-follow .btn-primary {
  border:none;
  background-color: #2d474f;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-follow .btn-primary:hover ,
.btn-follow:active .btn-primary:focus {
  background-color: #63b1b1;
}
@media only screen and (min-width:768px){
  
  
  
}
/*Nav bar*/
.fa-regular {
  color: white;
}

nav {
  border-bottom: 1px solid gray;
}

i {
  cursor: pointer;
}

.feed-container {
  height: 100vh;
  margin: 0 25rem;
}
