html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:black !important;
  color: white;
}

.btn-setting .btn-primary {
  border: none;
  background-color: #2d474f;
}

.btn-setting .btn-primary:hover {
  background-color: #63b1b1;
}

.row {
  height: inherit;
  
}

.prof-name {
  margin-top: 20px;
 
}


img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}


.btn-follow .btn-primary {
  border:none;
  background-color: #2d474f;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-follow .btn-primary:hover ,
.btn-follow:active .btn-primary:focus {
  background-color: #63b1b1;
}
@media only screen and (min-width:768px){
  
}
