body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  background-color: black;
  color: white;
}

p {
  color: black;
}

.userName {
  font-weight: 600;
}

h6 {
  color: grey;
}

.row {
  width: 100vw;
}

.fa-regular {
  color: white;
}

nav {
  border-bottom: 1px solid gray;
}

i {
  cursor: pointer;
}

.feed-container {
  height: 100vh;
  margin: 0 25rem;
}

input[type='text'] {
  min-height: 7em;
  word-wrap: break-word;
  word-break: break-all;
}

li {
  border-radius: 10px;
  border: solid 3px;
  border-color: #69c0a1;
}

li + li {
  margin-top: 1rem;
}

ol li {
  
  padding: 1em;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

ol {
  max-width: 75%;
  min-width: 75%;
  list-style-position: inside;
}

.itemImage {
  text-align: center;
  vertical-align: middle;
  float: right;
}

/* ol::before {
  content: counters(list-item, '') '. ';
  font-weight: 700;
  font-size: 1.5em;
  float: left;
  margin: auto;
} */

@media only screen and (min-width: 768px) {
  /* For desktop: */
}
