body {
  align-items: center;
  background-color: black;
}

p {
  color: black;
}

.row {
  width: 100vw;
}

.fa-regular {
  color: white;
}

nav {
  border-bottom: 1px solid gray;
}

i {
  cursor: pointer;
}

.feed-container {
  height: 100vh;
  margin: 0 25rem;
}

.form-control{
  margin: auto;
  width: 90%;
}

.own-comment-image{
  margin: auto;
  margin-right: 0.25em;
}

.comment-image{
  margin-top: 0.1em;
}

.commentBox{
  margin: auto;
}


.btn-primary {
  background-color: #2d474f;
  border: 0;
}

.btn-primary:hover,
.btn-primary:active:focus {
  background-color: #63b1b1;
}


.username{
  color: black;
  font-weight: 600;
  font-size: 25px;
}

h6 {
  color: grey;
}

input[type='text'] {
  min-height: 7em;
  word-wrap: break-word;
  word-break: break-all;
}

li {
  border-radius: 10px;
  border: solid 3px;
  border-color: #69c0a1;
}

li + li {
  margin-top: 1rem;
}

ol li {
  
  padding: 1em;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

ol {
  max-width: 75%;
  min-width: 75%;
  list-style-position: inside;
}

.text-left{
  margin: 0;
}

.profileImg{
  margin-left: 1em;
}


.itemImage {
  float: right;
  margin-top: -8px;
  

}

/* ol::before {
  content: counters(list-item, '') '. ';
  font-weight: 700;
  font-size: 1.5em;
  float: left;
  margin: auto;
} */

@media only screen and (min-width: 768px) {
  /* For desktop: */
}