<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" type="text/css" href="/styles/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link rel="stylesheet" type="text/css" href="/styles/admin-panel.css">
  <script src="/scripts/bootstrap/bootstrap.bundle.min.js"></script>
  <title>Alist | Admin Panel</title>
</head>

<body>
  {{>navbar}}
  <div class="container px-4 py-5 text-center" id="featured-3">
    <h1 class="pb-2 border-bottom">Admin Panel</h1>
    <div class="row d-flex row-cols-1 row-cols-lg-3">
      <div class="feature col flex-grow-1">
        <a href="#">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <i class="fa-regular fa-solid fa-user fa-xl"></i>
          </div>
          <h3 class="fs-2">Manage Users</h3>
        </a>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p>
      </div>
      <div class="feature col flex-grow-1">
        <a href="#">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <i class="fa-regular fa-solid fa-at fa-xl"></i>
          </div>
          <h3 class="fs-2">Manage Topics</h3>
        </a>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p>
      </div>
    </div>
  </div>

  <div></div>

</body>

</html>