<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" type="text/css" href="styles/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <link rel="stylesheet" type="text/css" href="styles/admin-panel.css">
<!--  <script src="scripts/bootstrap/bootstrap.bundle.min.js"></script>-->
  <title>Alist | Admin Panel</title>
</head>

<body>
  {{>navbar}}
  <div class="container px-4 py-5 text-center" id="featured-3">
    <h1 class="pb-2 border-bottom">Admin Panel</h1>
    <div class="row d-flex row-cols-1 row-cols-lg-3 m-auto">
      <div class="feature col flex-grow-1">
        <a href="#collapseUsers" data-bs-toggle="collapse" data-target="#collapseUsers" role="button" aria-expanded="false" aria-controls="collapseUsers">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <i class="fa-regular fa-solid fa-user fa-xl"></i>
          </div>
          <h3 class="fs-2">Manage Users</h3>
        </a>
        <p>
          Click on a user to ban their account. If a user is highlighted in grey, that means their account is suspended.
          Clicking on it again will unban the user.
        </p>
        <div class="collapse mt-4 d-flex flex-column justify-content-center align-items-center" id="collapseUsers">
          <ul class="w-100 mt-auto">
            {{#users}}
            <button type="button" class="listItem btn btn-primary mt-2"><li>{{.}}</li></button>
            {{/users}}
          </ul>
        </div>
      </div>
      <div class="feature col flex-grow-1">
        <a href="#collapseTopics" data-bs-toggle="collapse" data-target="#collapseTopics" role="button" aria-expanded="false" aria-controls="collapseTopics">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <i class="fa-regular fa-solid fa-at fa-xl"></i>
          </div>
          <h3 class="fs-2">Manage Topics</h3>
        </a>
        <p>
          Type in a new topic to create it, or click on an already existing one to delete it.
        </p>
        <div class="collapse mt-4 w-100 d-flex flex-column justify-content-center align-items-center" id="collapseTopics">

            <form>
              <div class="form-floating mb-2">
                <input type="text" class="form-control h-100" id="newTopic" placeholder="Type new topic..." name="newTopic">
                <label for="newTopic" class="text-muted">Type new topic...</label>
              </div>
              <button class="w-100 btn btn-lg btn-light" type="submit">Add topic</button>
            </form>

          <ul class="w-100 mt-4">
            {{#topics}}
            <button type="button" class="listItem btn btn-primary mt-2"><li>{{.}}</li></button>
            {{/topics}}
          </ul>
        </div>
      </div>
    </div>
  </div>

</body>

</html>