<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="styles/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <link rel="stylesheet" type="text/css" href="styles/error.css">
  <title>Alist | Error</title>
</head>

<body class="text-center text-white bg-black">
  <div class="container d-flex flex-column justify-content-center h-100">
    <a href="/">
      <img src="images/alistLogo.svg" alt="" width="250" height="150">
    </a>
    <h1>Oops! Something is wrong...</h1>
    <a class="text-white" href="/">
      <button class="w-auto mt-3 btn btn-lg btn-primary">Return home</button>
    </a>
  </div>
</body>

</html>