<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" type="text/css" href="styles/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <link rel="stylesheet" type="text/css" href="styles/profile.css">
  <title>Alist | Profile</title>
</head>

<body class="text-center">
  {{>navbar}}
  <div class="container-fluid ">
    <div class="row">
      <div class="profile-nav col-md-3 text-white p-6 ">
        <div class="profile-pic text-center">
          <img src="images/profile_picture.jpg" alt="profilePic" class="prof-pic rounded-circle ">
        </div>
        <div class="row text-inherit m-0 d-flex align-items-center">
          <div class="col prof-name fs-2">
            UserName
          </div>

        </div>
        <div class="row fs-5">
          <div class="col">
            4k <br><small>Following</small>
          </div>
          <div class="col">
            10k <br> <small>Followers</small>
          </div>
        </div>
        <div class="btn-follow">
          <button class="btn btn-primary btn-round">Follow</button>
        </div>
        <hr>
        <div>
          <p>
            (づ｡◕‿‿◕｡)づ
            <br>
            -Spits facts daily
            <br>
            -Best opinions all around
            <br>
            -Don't hate pls
            @gledrian.dev_
          </p>
        </div>
      </div>
      <div class="profile-info col-md-9 p-6"></div>
    </div>
  </div>

</body>

</html>