<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" type="text/css" href="/styles/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link rel="stylesheet" type="text/css" href="/styles/home.css">
  <link rel="stylesheet" type="text/css" href="/styles/top-list.css">
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
  <script src="/scripts/load-data.js"></script>
  <title>AList</title>
</head>

<body>
  {{>navbar}}
  <div class="feed-container pt-3">
    <a class="createPostButton" href="/create-list">
      <button class="btn btn-lg btn-primary">
        <i class="fa-solid fa-plus"></i>
      </button>
    </a>
    <div class="post-container">
      {{>post}}
    </div>
    <div class="text-center my-5">
      <div class="spinner-border text-white invisible" role="status">
      </div>
      <div class="no-posts text-white invisible">No more posts :(
      </div>
    </div>
  </div>
</body>

</html>