{{#posts}}
<div class="post mt-3 mb-3">
  <div class="postInfo border bg-white d-flex gap-3 py-3">
    <img src={{author.imagePath}} alt="Profile picture" width="75" height="75"
      class="profileImg rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <div class="d-flex">
          {{#topics}}
          <h6 class="topics pe-1">
            <a class="topic" href="#">@{{name}}</a>
          </h6>
          {{/topics}}
        </div>
        <a class="OP text-black text-decoration-none" href="/user/{{author.username}}">
          {{author.username}}
        </a>
      </div>
    </div>
  </div>
  <div class="list-group m-auto">
    <div class="bg-white text-black d-flex gap-3 py-3 text-center justify-content-*-center align-items-center"
      aria-current="true">
      <div class="top w-75 m-auto">
        <a class="text-black text-decoration-none" href="/top-list/{{id}}">
          <h1 class="topName">{{title}}</h1>
        </a>
        <ol class="m-auto p-0 w-100 d-flex flex-column gap-3">
          {{#items}}
          <div class="itemWrapper d-flex justify-content-center p-2">
            <li class="ms-0 me-auto">
              {{description}}
            </li>
            <img src={{imagePath}} alt="image" width="45" height="45" class="itemImage rounded-circle ms-auto me-2 mt-auto mb-auto">
          </div>
          {{/items}}
        </ol>
      </div>
    </div>
    <div class="list-group-item d-flex">
      <div class="w-auto m-auto">
        <img class="upvoteIcon" src="/images/upvoteIcon.svg" alt="" width="35" height="35">
        <img class="downvoteIcon" src="/images/downvoteIcon.svg" alt="" width="35" height="35">
      </div>
      <img class="shareIcon m-auto" src="/images/shareIcon.svg" alt="" width="35" height="35">
    </div>
  </div>
</div>
{{/posts}}