{{#posts}}
<div class="post mt-3 mb-3">
  <div class="postInfo border bg-white d-flex gap-3 py-3">
    <img src={{author.imagePath}} alt="Profile picture" width="75" height="75"
      class="profileImg rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <div class="d-flex flex-wrap">
          {{#topics}}
          <h6 class="topics pe-1">
            <a class="topic">@{{name}}</a>
          </h6>
          {{/topics}}
        </div>
        <a class="OP text-black text-decoration-none" href="/user/{{author.username}}">
          {{author.username}}
        </a>
      </div>
    </div>
  </div>
  <div class="list-group m-auto">
    <div class="bg-white text-black d-flex gap-3 py-3 text-center justify-content-*-center align-items-center"
      aria-current="true">
      <div class="top w-75 m-auto">
        <a class="text-black text-decoration-none" href="/top-list/{{id}}">
          <h1 class="topName">{{title}}</h1>
        </a>
        <ol class="m-auto p-0 w-100 d-flex flex-column gap-3">
          {{#items}}
          <div class="itemWrapper d-flex justify-content-center p-2">
            <li class="ms-0 me-auto">
              {{description}}
            </li>
            <img src="{{id}}/image" alt="image" width="45" height="45"
              class="itemImage rounded-circle ms-auto me-2 mt-auto mb-auto">
          </div>
          {{/items}}
        </ol>
      </div>
    </div>
    <div class="list-group-item d-flex z-0">
      <div class="w-auto m-auto">
        <h6 class="pe-1 d-inline">
          {{upVotes.size}}
        </h6>

        <a class="btn btn-primary " type="button" href="/post/{{id}}/upvote-action">
          {{^upVoted}}
          <i class="fa-regular fa-circle-up fa-xl"></i>
          {{/upVoted}}
          {{#upVoted}}
          <i class="fa-solid fa-circle-up fa-xl"></i>
          {{/upVoted}}
        </a>
        <h6 class="pe-1 d-inline">
          {{downVotes.size}}
        </h6>
        <a class="btn btn-primary" type="button" href="/post/{{id}}/downvote-action">
          {{^downVoted}}
          <i class="fa-regular fa-circle-down fa-xl"></i>
          {{/downVoted}}
          {{#downVoted}}
          <i class="fa-solid fa-circle-down fa-xl"></i>
          {{/downVoted}}
        </a>
      </div>
      <img class="shareIcon m-auto" src="/images/shareIcon.svg" alt="" width="35" height="35">
    </div>
  </div>
</div>
{{/posts}}