<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="styles/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <link rel="stylesheet" type="text/css" href="styles/form.css">
  <title>Alist | Sign In</title>
</head>

<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <form name="f" action="/sign-in" method="post">

      <img class="mb-4" src="images/alistLogo.svg" alt="" width="250" height="150">

      <!--Error message-->
      {{#error}}
      <div class="alert alert-danger" role="alert">
        Incorrect username and password
      </div>
      {{/error}}

      <div class="form-floating mb-2">
        <input type="text" class="form-control" id="username" placeholder="Username" name="username">
        <label for="username" class="text-muted">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        <label for="password" class="text-muted">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <div class="linkBox mt-4">
        <a class="link text-white" href="/register">Create a new account</a>
        <p class="mb-0">or</p>
        <a class="link text-white" href="/">Join as a guest</a>
      </div>
      <input type="hidden" name="_csrf" value="{{token}}"/>
    </form>
  </main>
</body>

</html>