<a href="#collapseTopics" data-bs-toggle="collapse" data-bs-target="#collapseTopics" role="button" aria-expanded="true"
  aria-controls="collapseTopics">
  <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
    <i class="fa-regular fa-solid fa-at fa-xl"></i>
  </div>
  <h3 class="fs-2">Manage Topics</h3>
</a>
<p class="text-center">
  Chose what action you want to perform.
</p>
<div class="collapse" id="collapseTopics">
  <div class="m-auto">
    <div class="form-floating mb-2 row">
      <div class="col-6">
        <button class="btn btn-primary m-auto" (click)="optionChose('add')">Add topic</button>
      </div>
      <div class="col-6">
        <button class="btn btn-primary m-auto" (click)="optionChose('delete')">deleteTopic</button>
      </div>
    </div>
  </div>


  <div class="m-auto" *ngIf="this.option  === 'add'; else deleteAction">
    <form id="newTopicForm" [formGroup]="newTopicForm"
      (ngSubmit)="addTopic(newTopicName.value, newTopicDescription.value)">

      <label for="newTopicName">New Topic Name:</label>
      <input class="form-control m-2" type="text" formControlName="newTopicName" placeholder=" Type a topic name..."
        #newTopicName>

      <label for="newTopicDescription">New Topic Description:</label>
      <input class="form-control m-2" type="text" formControlName="newTopicDescription"
        placeholder=" Type a topic descripion..." #newTopicDescription>

      <button class="btn btn-primary mt-2" id="submit" type="submit" [disabled]="!newTopicForm.valid">addTopic</button>
      <div class="alert alert-danger mt-2" role="alert" *ngIf="alreadyTaken">
        This topic already exist
      </div>
      <div class="alert alert-danger mt-2" role="alert" *ngIf="invalidFields">
        Introduce valid fields
      </div>
    </form>


  </div>

  <ng-template #deleteAction class="mt-2">
    <label for="newTopicName">Type the topic's name you want to delete:</label>
    <input class="form-control h-20 mt-10" placeholder=" Type a topic name..." type="text" #topicName>
    <div class="alert alert-danger mt-2" role="alert" *ngIf="topicNotFound">
      Introduce a valid topic name
    </div>
    <button class="btn btn-primary mt-2" (click)="getTopic(topicName.value)">Search</button>
    <div *ngFor="let item of topic; index as i">
      <a (click)="deleteTopic(i)" class="listItem btn btn-primary mt-2">
        {{item.name}}
      </a>
    </div>
  </ng-template>

</div>