<app-post [post]="post"></app-post>
<div class="commentSection mb-3">
  <p class="commentTitle text-muted p-3">Comments</p>
  <app-comment-form *ngIf="isLoggedIn" [postId]="postId" (newComment)="receiveNewComment($event)"></app-comment-form>
  <div class="commentBox" *ngFor="let comment of comments">
    <app-comment [comment]="comment"></app-comment>
  </div>
  <div class="d-flex justify-content-center flex-column p-3" *ngIf="!endOfComments">
    <mat-progress-spinner class="m-auto" mode="indeterminate" color="white"
      [style.display]="loading ? 'block' : 'none'"></mat-progress-spinner>
    <a class="btn btn-primary btn-sm shadow-none m-auto" (click)="getComments()">Load more...</a>
  </div>
  <div class="d-flex justify-content-center p-3" *ngIf="endOfComments">
    <p class="text-muted m-auto">No more comments :(</p>
  </div>
</div>
