<app-post [post]="post"></app-post>
<div class="commentSection mb-3">
  <p class="commentTitle text-muted pb-3">Comments</p>
  <!--TODO: fix forum-->
  <form action="#" *ngIf="isLoggedIn">
    <div class="writeComment p-3">
      <div class="d-flex flex-row">
        <img src="#" alt="pfp" width="40" height="40" class="own-comment-image rounded-circle flex-shrink-0">
        <textarea class="commentBox form-control ml-1 shadow-none textarea" placeholder="Write a comment..."
          name="commentContent"></textarea>
      </div>
      <div class="mt-2 d-flex justify-content-center">
        <button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button>
      </div>
    </div>
  </form>
  <div class="commentBox" *ngFor="let comment of comments">
    <app-comment [comment]="comment"></app-comment>
  </div>
</div>