#topTitle,
#topicList {
  width: 75%;
  margin: auto;
}
#topicList {
  padding-bottom: 10%;
}

.alert {
  margin-top: 20px;
  margin-bottom: 20px;

}
form{
  width: 80%;
  margin:auto;
}

.accordion {
  width: 100%;
}

.accordion-body img[src='#'] {
  display: none;
}

.accordion-body img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.accordion-body {
  padding-top: 0px;
}

.accordion-button {
  font-size: 20px;
}

.accordion-button:not(.collapsed)::after {
  background: var(--bs-accordion-btn-icon);
  filter: brightness(1000%);
  -webkit-filter: brightness(1000%);
}

.accordion-button:not(.collapsed) {
  background-color: #2d474f;
  color: white;
}

.accordion-button:focus {
  border-color: #2d474f;
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  form{
  width: 80%;
  margin-left: 147px;
  margin-right: 147px;


}
  /* For desktop: */
  #topTitle,
  #topicList {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .accordion {
    width: 60%;
    margin: auto;
  }
  .accordion-body img {
    width: 300px;
    height: 300px;
  }
}
