.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: black;
}

.topic {
  width: 90% !important;
  margin: auto !important;
}

.title,
.accordion {
  width: 90%;
  margin: auto;
}

.accordion-body img[src='#'] {
  display: none;
}

.accordion-body img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.accordion-body {
  padding-top: 0px;
}

.accordion-button {
  font-size: 20px;
}

.accordion-button:not(.collapsed)::after {
  background: var(--bs-accordion-btn-icon);
  filter: brightness(1000%);
  -webkit-filter: brightness(1000%);
}

.accordion-button:not(.collapsed) {
  background-color: #2d474f;
  color: white;
}

.accordion-button:focus {
  border-color: #2d474f;
  box-shadow: none;
}

.alert {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .topic {
    width: 60% !important;
    margin: auto !important;
  }
  .title,
  .accordion {
    width: 60%;
    margin: auto;
  }
  .accordion-body img {
    width: 300px;
    height: 300px;
  }
}
