.hamburger-container {
  width: 100%;
}

.collapse {
  width: 100%;
}

.no-transition {
  -webkit-transition: height 0.001s;
  -moz-transition: height 0.001s;
  -ms-transition: height 0.001s;
  -o-transition: height 0.001s;
  transition: height 0.001s;
}

.usernameSug{
  font-weight: 600;
}

nav {
  border-bottom: 1px solid gray;
}

i {
  color: white;
  cursor: pointer;
}

input {
  padding-right: 0;
  margin-right: 0;
}

form {
  background-color: white;
  border-radius: 5px;
}

.profile-pic-search{
  width: 25px;
  height: 25px;
}

cardLink{

}
.search{
}

.searchIcon {
  color: gray;
  margin: auto;
  margin-right: 12px;
  pointer-events: none;
}


.wrapper{
  display: flex;
  flex-direction: column;
  gap: .25rem;
  border-radius: .375rem;
  position: relative;
}

#autoCompleteBox{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#searchBar {

}

input {
  font-size: 1rem;
}

#autoCompleteBox {
  visibility: hidden;
  top: 36px;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: auto;

  border-bottom: 1px solid white;
}

.separator{
  color: white;
  font-weight: 600;
  background-color: #589a9a;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

}

.card {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0;
  background-color: white;
  padding: .5rem;
}

.card:hover{
  border-left: 1px solid white;
  border-right: 1px solid white;
  background-color: black;
  color: white;
}

.card > .header {
  margin-bottom: .25rem;
}

.card > .body {
  font-size: .8rem;
  color: #777;
}

.hide {
  display: none;
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  form {
    border: none;
  }
}
