body {
  align-items: center;
  background-color: black;
  overflow: hidden;
}

/* button */
.btn-primary {
  background-color: #2d474f;
  border: 0;
}

.btn-primary:hover,
.btn-primary:active:focus {
  background-color: #63b1b1;
}
