<div class="body" *ngIf="profileUser && ownProfile !== undefined">
  <main>
    <form class="row bg-black pt-3">
      <div class="profile-container col-md-4 text-white text-center">
        <div class="profile-pic text-center pt-2">
          <!-- TODO: profile pic display -->
          <!-- <img src="{{profileUser.imagePath}}" alt="profilePic" class="prof-pic"> -->
        </div>
        <div class="row text-inherit m-0 d-flex align-items-center">
          <div class="col prof-name fs-2">
            {{profileUser.username}}
          </div>
          <ng-container *ngIf="notGuest">
            <ng-container *ngIf="ownProfile; else elseOwnProfile">
              <div class="col btn-setting">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="settingsButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-gear"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="settingsButton">
                    <li>
                      <a class="dropdown-item" id="admin-panel" *ngIf="profileUser.admin" [routerLink]="['/admin']">
                        Admin Panel
                      </a>
                    </li>
                    <li><a class="dropdown-item" id="sign-out" (click)="logout()">Log-out</a></li>
                  </ul>
                </div>
              </div>
            </ng-container>
            <ng-template #elseOwnProfile>
              <div class="col">
                <app-follow-button [followUser]="followUser"></app-follow-button>
              </div>
            </ng-template>
          </ng-container>
        </div>
        <div class="row fs-5 mt-1">
          <app-follow-count class="col" [followCount]="profileUser.followingCount" [follow]=true
            [followData]="followData"></app-follow-count>
          <app-follow-count class="col" [followCount]="profileUser.followersCount" [follow]=false
            [followData]="followData"></app-follow-count>
        </div>
        <hr>
        <div class="bio-container">
          <p>{{profileUser.bio}}</p>
        </div>
      </div>
      <div class="post-container col-md-9 p-0">
        <!-- TODO: posts user display -->
        <!-- {{>post}} -->
      </div>
    </form>
  </main>
</div>