<div class="body" *ngIf="user && ownProfile !== undefined">
  <main>
    <form class="row bg-black pt-3">
      <div class="profile-container col-md-4 text-white text-center">
        <div class="profile-pic text-center pt-2">
          <!-- TODO: profile pic display -->
          <!-- <img src="{{user.imagePath}}" alt="profilePic" class="prof-pic"> -->
        </div>
        <div class="row text-inherit m-0 d-flex align-items-center">
          <div class="col prof-name fs-2">
            {{user.username}}
          </div>
          <ng-container *ngIf="notGuest">
            <ng-container *ngIf="ownProfile; else elseOwnProfile">
              <div class="col btn-setting">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="settingsButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-gear"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="settingsButton">
                    <li>
                      <a class="dropdown-item" id="admin-panel" *ngIf="user.admin" [routerLink]="['/admin']">
                        Admin Panel
                      </a>
                    </li>
                    <li><a class="dropdown-item" id="sign-out" (click)="logout()">Log-out</a></li>
                  </ul>
                </div>
              </div>
            </ng-container>
            <ng-template #elseOwnProfile>
              <div class="col">
                <ng-container *ngIf="followed; else elseFollowed">
                  <a class="btn btn-primary btn-round btn-following" type="button" (click)="follow()">
                    Following
                  </a>
                </ng-container>
                <ng-template #elseFollowed>
                  <a class="btn btn-primary btn-round" type="button" (click)="follow()">
                    Follow
                  </a>
                </ng-template>
              </div>
            </ng-template>
          </ng-container>
        </div>
        <div class="row fs-5 mt-1">
          <div class="col follow">
            <a type="button" [routerLink]="['/user/{{user.username}}/following']">
              <strong class="text-white">{{user.followingCount}}</strong> Following
            </a>
          </div>
          <div class="col follow">
            <a type="button" [routerLink]="['/user/{{user.username}}/followers']">
              <strong class="text-white">{{user.followersCount}}</strong> Followers
            </a>
          </div>
        </div>
        <hr>
        <div class="bio-container">
          <p>{{user.bio}}</p>
        </div>
      </div>
      <div class="post-container col-md-9 p-0">
        <!-- TODO: posts user display -->
        <!-- {{>post}} -->
      </div>
    </form>
  </main>
</div>