<div class="post mt-3 mb-3">
  <div class="postInfo border bg-white d-flex gap-3 py-3">
    <img src=# alt="Profile picture" width="75" height="75" class="profileImg rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <div class="d-flex flex-wrap">
          <h6 class="topics pe-1" *ngFor="let topic of post.topicNames">
            <a class="topic">@{{topic}}</a>
          </h6>
        </div>
        <a class="OP text-black text-decoration-none" href="/user/{{post.authorName}}">
          {{post.authorName}}
        </a>
      </div>
    </div>
  </div>
  <div class="list-group m-auto">
    <div class="bg-white text-black d-flex gap-3 py-3 text-center justify-content-*-center align-items-center"
      aria-current="true">
      <div class="top w-75 m-auto">
        <a class="text-black text-decoration-none" href="/top-list/{{post.id}}">
          <h1 class="topName">{{post.title}}</h1>
        </a>
        <ol class="w-100 p-0 w-100 d-flex flex-column gap-3">
          <div class="m-auto p-0 w-100 d-flex flex-column gap-3" *ngFor="let item of post.items">
            <div class="itemWrapper d-flex justify-content-center p-2">
              <li class="ms-0 me-auto">
                {{item.description}}
              </li>
              <img src="{{item.id}}/image" alt="image" width="45" height="45"
                class="itemImage rounded-circle ms-auto me-2 mt-auto mb-auto">
            </div>
          </div>
        </ol>
        <ol class="m-auto p-0 w-100 d-flex flex-column gap-3" *ngFor="let item of post.items">
        </ol>
      </div>
    </div>
    <div class="list-group-item d-flex z-0">
      <div class="w-auto m-auto">
        <h6 class="pe-1 d-inline">
          {{post.numUpvotes}}
        </h6>
        <a class="" type="button" (click)="upvotePost()">

          <i class="fa-regular fa-circle-up fa-xl" *ngIf="!upvoted"></i>

          <i class="fa-solid fa-circle-up fa-xl" style="color: #63b1b1"  *ngIf="upvoted"></i>

        </a>
        <h6 class="pe-1 d-inline">
          {{post.numDownvotes}}
        </h6>
        <a class="" type="button" (click)="downvotePost()">

          <i class="fa-regular fa-circle-down fa-xl" *ngIf="!downvoted"></i>

          <i class="fa-solid fa-circle-down fa-xl" style="color: #63b1b1" *ngIf="downvoted"></i>

        </a>
      </div>
      <img class="shareIcon m-auto" src="/images/shareIcon.svg" alt="" width="35" height="35">
    </div>
  </div>
</div>
