<div class="feed-container pt-3">
  <a class="createPostButton" href="/create-list">
    <button class="btn btn-lg btn-primary">
      <i class="fa-solid fa-plus"></i>
    </button>
  </a>
  <div class="post-container">
    <li *ngFor="let currentPost of posts">
      <app-post [post]="currentPost"></app-post>
    </li>
  </div>
  <div class="text-center my-5">
    <div class="spinner-border text-white" role="status" [style.display]="loading ? 'block' : 'none'">
    </div>
    <div class="no-posts text-white" [style.display]="endOfFeed ? 'block' : 'none'">No more posts :(
    </div>
  </div>
</div>