<div class="body">
  <nav class="navbar navbar-expand-lg bg-black">
    <div class="d-none d-md-block container-fluid">
      <div class="d-flex justify-content-evenly align-items-center m-auto">
        <a class="navbar-brand" [routerLink]="['/']" (click)="toggleOff()">
          <img src="assets/images/alistLogo.svg" alt="Alist logo" width="80" height="30">
        </a>
        <app-icon iconName="compass" [glow]="compassIconGlow" [routerLink]="['/explore']"></app-icon>
        <app-search></app-search>
        <app-icon iconName="heart" [glow]="heartIconGlow" (click)="toggleHeartIcon()" [routerLink]="['/']"></app-icon>
        <app-icon iconName="user" [glow]="profileIconGlow" [routerLink]="['/profile']"></app-icon>
      </div>
    </div>

    <div class="hamburger-container d-sm-block d-md-none">
      <div class="d-flex justify-content-end align-items-center">
        <a class="navbar-brand ps-2 m-auto flex-grow-1" [routerLink]="['/']" (click)="toggleOff()">
          <img src="assets/images/alistLogo.svg" alt="Alist logo" width="101.33 " height="38">
        </a>
        <div class="collapse no-transition" id="collapseNav">
          <div class="icon-container d-flex justify-content-evenly align-items-center ps-2 pe-2 gap-3">
            <app-icon iconName="compass" [glow]="compassIconGlow" [routerLink]="['/explore']"></app-icon>
            <app-search></app-search>
            <app-icon iconName="heart" [glow]="heartIconGlow" (click)="toggleHeartIcon()"
              [routerLink]="['/']"></app-icon>
            <app-icon iconName="user" [glow]="profileIconGlow" [routerLink]="['/profile']"></app-icon>
          </div>
        </div>
        <div class="pe-2">
          <!-- TODO: hideContainer() -->
          <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseNav" role="button" aria-expanded="false"
            aria-controls="collapseNav" onclick="hideContainer()">
            <i class="fa-solid fa-bars fa-xl"></i>
          </a>
        </div>
      </div>
      <div class="collapse border-top mt-2" id="collapseNav">
        <!--Duplicate ID necessary for Bootstrap navbar to work properly-->
        <app-search></app-search>
      </div>
    </div>
  </nav>
</div>