<div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
  <i class="fa-regular fa-solid fa-user fa-xl"></i>
</div>
<h3 class="fs-2">Manage Users</h3>

<p>
  Click on a user to change it's status
</p>
<div class="m-auto">
  <input class="form-control h-20" type="text" placeholder="Type a user" #username>
</div>

<button class="btn btn-primary mt-2" (click)="getUser(username.value)">
  Search
</button>
<div *ngIf="isVisible">
  <div *ngIf="userStared?.locked; else otherCont">
    <a (click)="banUser()" class="listItemLocked btn btn-primary mt-2">
      {{userStared?.username}}
    </a>
  </div>
  <ng-template #otherCont>
    <div>
      <a (click)="banUser()" class="listItem btn btn-primary mt-2">
        {{userStared?.username}}
      </a>
    </div>
  </ng-template>
</div>